.metadata
.idea
*.manifest
*.cache
*~
*.DS_Store
*.swp

# IDE project files
/nbproject/
ipch/
*.dir/
*.suo
*.sdf
*.dll

# Build files
Debug/
build/
packages/
*.obj
*.log
*.tlog
*.vcxproj.filters
*.vcxproj.user
*.in

# Data files
data/

# /
/.gdb_history

# Doxygen generated doc
html/
*.opensdf
*.lastbuildstate
